
@{
    ViewBag.Title = "Case Review Type Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<div class="x_panel"
     style="display: none; " data-bind='visible: isBound'>
    
    <div class="col-sm-4">

        <select class="form-control" data-bind="options: CaseReviewTypeSections, optionsText: 'TypeName', value: SelectedCaseReviewType">

        </select>
    </div>

    <table class="table" data-bind="with: SelectedCaseReviewType" >
        <thead>
            <tr>
                <th>
                    Section
                </th>
                <th>
                    Included
                </th>
        </thead>
        <tbody data-bind="foreach: SectionCaseReviewTypes">
            <tr>
                <td data-bind="text: SectionName"></td>
                <td>
                    <label class="styledCheckBoxLabel"
                           data-bind="css: IsIncluded() ? 'on' : '' ">
                        <input type="checkbox" data-bind="checked: IsIncluded, event: { change: $root.ChangedIncluded}" />
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

</div>


@section Scripts {

    <script type="text/javascript">
        var localData = @Html.Raw(ViewBag.Json);
        var urlApiUpdateCaseReviewTypeSection = '@ViewBag.UrlApiUpdateCaseReviewTypeSection';
    </script>

    <script src="~/Scripts/app/viewModels/app.vm.casereviewtypesections.js"></script>
    <script src="~/Scripts/app/views/app.vw.casereviewtypesections.js"></script>

}