

.styledCheckBoxLabel {
    padding: 2px;
    cursor: pointer;
}

.styledCheckBoxLabel:before {
   font-family: FontAwesome;
   content: "\f095";
}

.styledCheckBoxLabel.on:before {
   font-family: FontAwesome;
   content: "\f058";
}

.styledCheckBoxLabel input {
    opacity: 0;
    width: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


